@import '../core/variables';

.footer {
  background-color: $gainsboro;
  display: flex;
  align-items: center;
  justify-content: center;

  &__title {
    font-size: 1.2rem;
    color: $black;
    font-family: 'Antic';
    padding: 0.7rem 0.7rem 0.7rem 2rem;
    @media all and (min-width: 800px) {
      font-size: 1.2rem;
    }
    @media all and (min-width: 1200px) {
      font-size: 1.2rem;
    }
  }

  &__icon {
    color: $black;
    font-size: 1.2rem;
    margin: auto 0;
  }
}