@import '../core/variables';

.main__section1 {

  &__layer {
    display: flex;
    justify-content: flex-start;
    height: 100vh;
  }

  &__nametitle {
    padding: 10rem 0 0 3rem;
    gap: 1rem;
  }

  &__img {
    height: 8rem;
  }

  &__subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: $white;
    text-align: center;
  }
}