@import '../core/variables';

.nav {
    width: 100vw;
    height: 3.5rem;
    background-color: $black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;

    &__items a {
        margin: 15px;
        color: $white;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.35rem;
        font-weight: 500;
    }

    &__toggle {
        display: none;
    }
}

@media (max-width: 768px) {

    .nav {

        &__items {
            position: absolute;
            top: 60px;
            left: 0;
            background: $gainsboro;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: -webkit-fill-available;        
            transform: translateX(-100%);
            transition: 0.3s ease all;
 
            &.open {
                transform: translateX(0) !important
            }
        }

        &__toggle {
            display: flex !important;
            flex-direction: column;                
            margin: 15px;
    
            & span {
                width: 30px;
                height: 4px;
                background:$white;
                margin-bottom: 5px;
                border-radius: 2px;             
                transform-origin: 5px 0px;
                transition: all 0.2s linear;
            }
    
            &.open > span {
                transform: rotate(45deg) translate(0px, 0px);
    
                &:nth-child(2) {
                    display: none;
                }
    
                &:nth-child(3) {
                    transform: rotate(-45deg) translate(-5px, 1px);
                }
            }
        }
    }
}