@import '../core/variables';

.section4 {
  width: 100%;
  margin: 0;
  padding-bottom: 4rem;
  background-color:$black;
  font-family: "Arial, Helvetica, sans-serif";

  &__title {
    padding: 5rem 0;
    font-size: 40px;
    color: $white;
    text-transform: uppercase;
    text-align: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__boxparagraph1 {
    font-size: 20px;
    color: $white;
    padding: 2rem 1rem;
    text-align: center;
    @media all and (min-width: 800px) {
      padding: 2rem 2rem;
    }
    @media all and (min-width: 1200px) {
      padding: 2rem 7rem;
    }
  }
  
  &__boxparagraph2 {
    font-size: 20px;
    color: $white;
    padding: 1rem 1rem 0 1rem;
    text-align: center;
    @media all and (min-width: 800px) {
      padding: 1rem 1rem 0 1rem;
    }
    @media all and (min-width: 1200px) {
      padding: 1rem 1rem 0 1rem;
    }
  }

  &__link {
    background-color: $white;
    padding: 0.4rem 1.4rem;
    margin: 0 auto;
    border-radius: 0.8rem;
  }

  &__icon {
    color: $black;
    font-size: 1.8rem;
  }
}

.imgB {
  height: 15rem;
  @media all and (min-width: 800px) {
    height: 17rem;
  }
  @media all and (min-width: 1200px) {
    height: 20rem;
  }
}

.div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  @media all and (max-width: 800px) {
    flex-direction: column;
  }
}