@import '../core/variables';

// ------------ boxes ---------------
.section5 {
  width: 100%;
  margin: 0 auto;
  font-family: 'Antic';
  background-color: $black;

  &__title {
    font-family: 'Antic';
    font-size: 40px;
    color: $white;
    padding: 2rem 0;
    text-transform: uppercase;
    text-align: center;
    @media all and (min-width: 800px) {
      padding: 2rem 0;
    }
    @media all and (min-width: 1200px) {
      padding: 2rem 0;
    }
  }
  
  &__boxparagraph1 {
  display: flex;
  justify-content: flex-start;
    font-size: 1.15rem;
    color: $black;
    text-align: center;
    padding-right: 0.7rem;
  }
  
  &__boxparagraph2 {
    font-family: 'Antic';
    font-size: 1.15rem;
    color: $black;
    background-color: $gainsboro;
    border-radius: 1.15rem;
    padding: 0.5rem 1rem;
    border: none;
    text-align:left;
    @media all and (min-width: 800px) {
      padding: 0.5rem 1rem;
    }
    @media all and (min-width: 1200px) {
      padding:  0.5rem 1rem;
    }
  }
  
  &__download--title {
    margin-top: 20px;
  }
  
  &__download--title,
  &__download--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $black;
    font-size: 1.15rem;
  }
  
  &__download--icondown {
    color: $black;
    font-size: 1.15rem;
    margin-top: 10px;

    &:hover {
      color: $gainsboro;
      cursor: pointer;
    }
  }
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $white;
  width: 80%;
  border-radius: 2rem;
  padding-left: 0rem;
  gap: 1.15rem;
  @media all and (min-width: 800px) {
    width: 50%;
  }
  @media all and (min-width: 1200px) {
    width:  40%;
  }
}

.width{
  width: 100%;
  padding: 0rem 10%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.submit {
  font-family: 'Antic';
  font-size: 1.15rem;
  font-weight: 900;
  background-color: $black;
  color: $white;
  border-radius: 1.15rem;
  margin-bottom: 2rem;
  padding: 0.5rem 1.15rem;
  border: none;
  @media all and (min-width: 800px) {
    padding: 0.5rem 1.15rem;
  }
  @media all and (min-width: 1200px) {
    padding: 0.5rem 1.15rem;
  }

  &:hover {
    cursor: pointer;
    background-color: $gainsboro;
    color: $black;
  }
}

.name {
  margin-top: 0rem;
}

.first {
  padding-top: 2rem;
}

.message{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 1.15rem;
  gap: 1rem;
}

.ms {
  display: flex;
  justify-content: flex-start;
}

textarea{
  font-family: 'Antic';
  font-size: 1.15rem;
  height: 10rem;
  
}

.in {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}