@import '../core/variables';

.section1 {
  width: 100%;
  margin: 0;
  padding-bottom: 4rem;
  font-family: 'Antic';
  background-color:$black;
}

.section1__title {
  padding: 5rem 0;
  font-family: 'Antic';
  font-size: 40px;
  color: $white;
  text-transform: uppercase;
  text-align: center;
}

.imgA {
  height: 12rem;
  @media all and (min-width: 800px) {
    height: 14rem;
  }
  @media all and (min-width: 1200px) {
    height: 15rem;
  }
}

.div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  @media all and (max-width: 800px) {
    flex-direction: column;
  }
}

.section1__boxparagraph1 {
  font-size: 20px;
  color: $white;
  padding: 2rem 1rem 0 1rem;
  text-align: center;
  @media all and (min-width: 800px) {
    padding: 2rem 1rem 0 1rem;
  }
  @media all and (min-width: 1200px) {
    padding: 2rem 1rem 0 1rem;
  }
}

.section1__boxparagraph2 {
  font-size: 20px;
  color: $white;
  padding: 1rem 1rem 0 1rem;
  text-align: center;
  @media all and (min-width: 800px) {
    padding: 1rem 1rem 0 1rem;
  }
  @media all and (min-width: 1200px) {
    padding: 1rem 1rem 0 1rem;
  }
}