@import '../core/variables';

.section6 {
  background-color: $blackish;
  font-family: Arial, Helvetica, sans-serif;

  &__icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  &__title {
    font-size: 2rem;
    margin-top: 50px;
    color: $black;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  &__icon {
    color: $white;
    font-size: 50px;
    margin: 40px;
  
    &:hover {
      color: $gainsboro;
      cursor: pointer;
    }
  }
}